@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  /* Cores */
  --brand-color: #EF5F4C;
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  /* Tipografia */
  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: normal 16px/1.5 var(--font-family);
  --text-md: normal 14px/170% var(--font-family);
  --text-sm: normal 12px/170% var(--font-family);

  /* Sombras e Bordas */
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  --radius: 12px;
}

body {
  margin: 0;
  background-color: var(--surface-color);
  font: var(--text);
  color: var(--text-color-primary);
  -webkit-font-smoothing: antialiased;
}